* {
  box-sizing: border-box;
}

$themeColor: #272727;

body {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: $themeColor;
  color: white;

  section.anmimation-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    animation: fadeOut 0.3s 2s forwards;

    div.animation {
      margin-top: 10vh;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;

      div.img {
        width: 80%;
        height: 0;
        animation: openImg 1s forwards, scaleUp 1s 1s forwards;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    div.slider {
      position: absolute;
      left: -1100%;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, grey, black);
      z-index: -1;
      animation: slide 1s 1s forwards;
    }
  }

  .btn {
    border: none;
    cursor: pointer;
  }

  i {
    pointer-events: none;
  }

  header {
    box-shadow: 0px 5px 10px -3px black;

    nav {
      ul {
        display: flex;
        li {
          padding: 1.5rem 1rem;
          a {
            text-decoration: none;
            font-size: 1.2rem;
            color: white;
            transition: all 0.2s;
            &:hover {
              color: yellow;
            }
          }
        }
      }
    }
  }

  main {
    text-align: center;
    section.main-part {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      h1 {
        font-size: 3rem;
        font-weight: 600;
        padding: 2rem 0;
      }

      div.buttons {
        .btn {
          padding: 0.5rem;
          margin: 0 0.5rem;
        }
      }

      div.all-input {
        form {
          font-size: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 2rem;

          input,
          select {
            font-size: 1.1rem;
            border: none;
            margin: 0.5rem;
            border-radius: 3px;
            padding: 0.5rem 0.5rem;
          }
          input.class-credit {
            width: 100px;
          }

          button.trash {
            background-color: $themeColor;
            margin: 0.5rem;
            i {
              color: white;
              font-size: 1.5rem;
            }
          }
        }
      }

      button.plus {
        padding: 0.5rem;
        border-radius: 6px;
        margin: 2.5rem 0;
        i {
          font-size: 1.3rem;
        }
      }
      div.result {
        width: 200px;
        height: 200px;
        border: 3px solid white;
        border-radius: 50%;
        padding-top: 2rem;
        animation: changeColor 8s infinite;

        p {
          font-size: 1.2rem;
        }
        h2 {
          font-size: 3.5rem;
          font-weight: bold;
          padding: 1rem 0;
        }
      }
    }
  }
}

.remove {
  transform: scale(0);
  transition: all 0.4s ease-out;
}

@keyframes changeColor {
  0% {
    border-color: white;
  }
  15% {
    border-color: red;
  }
  50% {
    border-color: green;
  }
  85% {
    border-color: blue;
  }
  100% {
    border-color: white;
  }
}
@keyframes openImg {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes scaleUp {
  0% {
    width: 80;
  }
  100% {
    width: 100%;
  }
}
@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
